<div>

  <div *ngIf="person.firstname">
    <p class="col-sm-12 text-center lead">
      Hello {{person.firstname}}! Create you account
    </p>
  </div>
  <div *ngIf="!person.firstname">
    <p class="col-sm-12 text-center lead">
      Hello! Create you account
    </p>
  </div>

  <app-passenger-registration
    [person]="person"
    (sendCompleteEvent)="submit()">
  </app-passenger-registration>

  <div *ngIf="errorMessage">
    <p class="col-sm-12 alert alert-danger" style="margin-top: 30px">
      {{errorMessage}}
    </p>
  </div>
</div>
